.clear{clear:both}
.displayNone{display:none}
.respTable {overflow: auto; }
.respTable .table > tbody > tr:nth-child(2n){background: #efefef;}
.hotelmap .columns label {margin-bottom: 0}
.Adv-width{padding:10px; border-radius:5px; max-width:960px; margin:0}
.GreyBG{  padding:10px; border-radius:5px; max-width:680px; margin:0 auto}
.SearchBtn {text-align: right;padding: 10px 0 35px;}
.Savebtn .button{width:105px; float: right;}
.columns > div.mrgTop, .columns label.mrgTop,.mrgTop {margin-top: 25px;}
.actiontab {width: 60px;}
.columns > div.mrgBt {margin-bottom: 20px;}
.SaveReset .button.anthracite-gradient.buttonmrg {float: right;margin: 20px 5px 0;}
.buttonmrg{margin-top:20px}
h3.silver-gradient {margin: 0 0 15px;padding: 8px;position: relative;border-radius: 5px;}
h3.silver-gradient:before { width: 0;
height: 0;left:30px;
border-style: solid;
border-width: 12px 12px 0 12px;bottom: -12px;
border-color: #d8dce1 transparent transparent transparent; position:absolute; content:""}
.textarCancel textarea {height: 60px;}
.align-center.active-deactive {line-height: 26px;}
.table-head h3 {font-size: 20px; text-align:left;margin: 0 0 5px;text-shadow: none;}
.table-head .block-title label {text-shadow: none;}
.table-head .block-title{padding: 6px 20px;}
.table-head h6 {font-size: 12px;margin: 0 0 3px;text-align: left;}
 .datePick input.datepicker {width: 85% !important;}
.text-textright{text-align:right}
.text-textright .button{margin-top: 0;margin-bottom: 1px;}
.SelBox .select.replacement {padding-right: 0;width: 100%;}
.columns label {margin-bottom: 5px;display: inline-block;text-transform: uppercase;font-weight: bold;}
#main-title {padding-bottom: 0;}
.logo {text-align: center;margin: 0;padding: 15px 0;}
.margBT {margin: 15px 0;}
.stats > li > a {margin: -19px 0 -10px;}
.columns > div.activeinput {margin-top: 25px;}
.fieldset.fields-list, .wizard-fieldset.fields-list{background:none}
.field-block {padding: 0 20px 0 25px;}
.selAmenities .boxed {background: #fff;border: 1px solid #e0e0e0;}
.columns.selAmenities .columns > div {margin-bottom: 10px;}
.button.anthracite-gradient.savecancle {margin-top: 40px;}
.button.anthracite-gradient.buttonmrgTop {margin-top: 10px;}
.tabsystem {margin-top: 20px;}
.columns.selcol {float: right;width: 100%;max-width: 300px;margin: -30px 0 0;}
#main-title h2.addromtxt {font-size: 16px;line-height: 18px;}
#main-title h2.addromtxt b {line-height: 27px; display:block}
#main-title h2.addromtxt a {float: right;}
.version-history > li {margin: 0 0 7px 0;padding: 0 0 0 30px;zoom: 1;}
#main-title h2 .grey strong, #main-title h2 b.grey{font-size: 15px;vertical-align: 0;}
.columns > div.plusminus {margin-top: 20px;}
.labeltxt {display: block;font-size: 10px;margin: 5px 0;}
.addinput .input.full-width {display: inline-block;width: 75%;}
.datesformate span.input {margin-bottom: 15px;}
.labelform {list-style: none;margin: 0 0 20px;}
.labelform li {list-style: none;margin: 0 0 10px;}
#main h4 {font-size: 14px;margin-bottom: 1px;line-height: 15px; margin:0}
.tabwhite .columns label {font-size: 12px;}
.chkBox {margin-top: 8px !important;}
.datpick #datepicker {width: 75%;}
.start-sale details.details > summary {font-size: 18px !important;}
.start-sale .icon-chevron-right.icon-size2 {float: right;}
  .start-sale ul {list-style: none;padding: 0;margin: 00;}
.start-sale ul li {margin: 0 0 15px;float: left;width: 50%;font-weight: bold;}
.hotelmap textarea {height: 120px;resize: none;}
.auto-expanding textarea {
	height: 45px;
}
.boxed .columns:last-child {
	margin-bottom: -10px;
}
 
.hotelmap .button > .button-icon.right-side {
	color: white;
	background: #404040 url(../img/old-browsers/colors/bg_anthracite-gradient.png) repeat-x;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#565656), to(#404040));
	background: -webkit-linear-gradient(top, #565656, #404040);
	background: -moz-linear-gradient(top, #565656, #404040);
	background: -ms-linear-gradient(top, #565656, #404040);
	background: -o-linear-gradient(top, #565656, #404040);
	background: linear-gradient(top, #565656, #404040);
	border-color: #282e36;
}

.lftField .columns > div {
	margin-bottom: 14px;
}
.tax-police {
	margin: 0 0 10px;
	font-size: 16px;
}
.contdetais p {
	margin: 0;
}
 .columns > div.contdetais {
	margin-bottom: -20px;
}
.field-block .wizard-spacer {
	height: auto !important;
}
.faicon {
	text-align: right;
	float: right;
}
.faicon .fa.fa-file-pdf-o {
	color: #f00;
}
.faicon .fa.fa-file-excel-o {
	color: green;
}
.faicon .fa {
	font-size: 25px;
	margin-right: 15px;
	display: inline !important;
}
#filter {
	border-radius: 10px;
	margin: 15px 0; position:relative
}
.block-title, details.details > summary { 
	padding: 8px 19px; 
}
.infutFieds .input {
	width: 80%;
}
.infutFieds span input {
	width: 78%;
}
#main h4.txt-detail {
	margin-top: 20px;
}
 .respTable .table.evenodd > tbody > tr:nth-child(2n) {
	background: #FFF;
}

.table > tbody > tr > td.even {
	background: #f0f0f0;
	font-weight: bold;
}
#modals .button.compact {
	margin-top: 10px;
}
.text-alignright {
	text-align: right;
}
@media (min-width:960px) {
.columns .one-column-coloffset			{ margin-left: 6.0833%; }
.columns .two-columns-coloffset		{ margin-left: 14.4167%; }
.columns .three-columns-coloffset		{ margin-left: 22.75%; }
.columns .four-columns-coloffset		{ margin-left: 31.0833%; }
.columns .five-columns-coloffset		{ margin-left: 39.4167%; }
.columns .six-columns-coloffset		{ margin-left: 47.75%; }
.columns .seven-columns-coloffset		{ margin-left: 56.0833%; }
.columns .eight-columns-coloffset		{ margin-left: 64.4167%; }
.columns .nine-columns-coloffset		{ margin-left: 72.72%; }
.columns .ten-columns-coloffset		{margin-left: 81.0833%; }
.columns .eleven-columns-coloffset		{ margin-left: 89.4167%; }
.columns .twelve-columns-coloffset		{ margin-left: 97.75%; }
.roomrate .two-columns {
	width: 17.5%;
}	}
@media screen and (max-width:1030px) {
.addinput .input.full-width {
	display: inline-block;
	width: 72%;
}
}

@media screen and (max-width:767px) {
.respTable {width: 99.4%;overflow: scroll;border-right: 1px solid #d4d4d4;border-left: 1px solid #d4d4d4;}.columns > div.mrgTop{margin-top: 0;}
.with-padding.withpad {padding: 5px !important;}
.columns label {font-size: 11px;}
.columns > div.activeinput {margin-top: 5px}
.button.anthracite-gradient.savecancle,.tabsystem {margin-top: 0}
.SaveReset .button.anthracite-gradient.buttonmrg {margin: 0 5px 0;}
 .addinput label {
	display: block;
}
.addinput .input.full-width {
	display: inline-block;
	width: 80%;
}
.columns.selcol {float: none;max-width: 100%;margin:0 0 0 -2.25%;}
.SearchBtn {text-align: right;padding: 0 0 17px;clear: both;}
.start-sale ul li {margin: 0 0 15px;float: none;width: 100%;}}
@media screen and (max-width:479px) {
.hotelmap .wizard-steps > .active, .Adv-width .wizard-steps > .active {text-indent: -9999px;}

}
 .row-drop > td.YellowTD {background: #f9ca83 !important;text-align: center;}
.row-drop > td.OrangeTD {background: #ff8e8e !important;text-align: center;}
.row-drop > td.GreenTD{background: #bff3bf!important;text-align: center;}
 
.table  tr.tdcolor  td.YellowTD,.table tr.tdcolor   td.OrangeTD,.table tr.tdcolor   td.GreenTD {
	position: relative;
	transform: scale(1); transition:.5s all ease-in-out; cursor:pointer
}
.table td.OrangeTD:hover,.table td.YellowTD:hover,.table td.GreenTD:hover{
 
	position: relative;
	transform: scale(1.3); transition:.5s all ease-in-out; 
}
.colorTable .checkbox, .radio {
	display: block;
	margin: 10px auto !important;
}
 
 .table.colorTable > tbody > tr > th{cursor:pointer}
.AddTxt {
	display: block;
	font-weight: bold;
	color: #3e3b3b; 
	text-align: center;  
	margin: 0 auto;
font-size: 16px; 
	display: block;   
	line-height: 16px; 
	padding:9px 9px;  
	text-align: center;
	background: url(../img/old-browsers/grey20.png);
	background: rgba(128, 128, 128, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
	 box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);  
	 -webkit-border-radius: 9px;  
  -moz-border-radius: 9px; 
	border-radius: 9px;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none;
	
}