﻿*For test purpose*/
/*PREFERENCE LIST 1*/
ul.hotelpreferences1 {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.hotelpreferences1 li {
    width: 40px;
    height: 40px;
    /*background: url('') #fff;*/
    /* border: 2px solid #efefef;
    border: 2px solid #ebebeb; */
    padding: 5px;
    color: #999;
    /* -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; */
    /*-webkit-transition:.2s;-moz-transition:.2s;transition:.2s;	*/
    float: left;
    margin-left: 2px;
}

    .hotelpreferences1 li:hover {
    }

    .hotelpreferences1 li.icohp-internet {
        background: url('../../img/hotelpref-ico/wifi.png') no-repeat;
    }

    .hotelpreferences1 li:hover.icohp-internet {
        background: url('../../img/hotelpref-ico/wifi1.png') no-repeat;
    }

    .hotelpreferences1 li.icohp-air {
        background: url('../../img/hotelpref-ico/air.png') no-repeat;
    }

    .hotelpreferences1 li:hover.icohp-air {
        background: url('../../img/hotelpref-ico/air1.png') no-repeat;
    }

    .hotelpreferences1 li.icohp-pool {
        background: url('../../img/hotelpref-ico/pool.png') no-repeat;
    }

    .hotelpreferences1 li:hover.icohp-pool {
        background: url('../../img/hotelpref-ico/pool1.png') no-repeat;
    }

    .hotelpreferences1 li.icohp-childcare {
        background: url('../../img/hotelpref-ico/childcare.png') no-repeat;
    }

    .hotelpreferences1 li:hover.icohp-childcare {
        background: url('../../img/hotelpref-ico/childcare1.png') no-repeat;
    }

    .hotelpreferences1 li.icohp-fitness {
        background: url('../../img/hotelpref-ico/fitness.png') no-repeat;
    }

    .hotelpreferences1 li:hover.icohp-fitness {
        background: url('../../img/hotelpref-ico/fitness1.png') no-repeat;
    }

    .hotelpreferences1 li.icohp-breakfast {
        background: url('../../img/hotelpref-ico/breakfast.png') no-repeat;
    }

    .hotelpreferences1 li:hover.icohp-breakfast {
        background: url('../../img/hotelpref-ico/breakfast1.png') no-repeat;
    }

    .hotelpreferences1 li.icohp-parking {
        background: url('../../img/hotelpref-ico/parking.png') no-repeat;
    }

    .hotelpreferences1 li:hover.icohp-parking {
        background: url('../../img/hotelpref-ico/parking1.png') no-repeat;
    }

    .hotelpreferences1 li.icohp-pets {
        background: url('../../img/hotelpref-ico/pets.png') no-repeat;
    }

    .hotelpreferences1 li:hover.icohp-pets {
        background: url('../../img/hotelpref-ico/pets1.png') no-repeat;
    }

    .hotelpreferences1 li.icohp-spa {
        background: url('../../img/hotelpref-ico/spa.png') no-repeat;
    }

    .hotelpreferences1 li:hover.icohp-spa {
        background: url('../../img/hotelpref-ico/spa1.png') no-repeat;
    }

    .hotelpreferences1 li.icohp-hairdryer {
        background: url('../../img/hotelpref-ico/hairdryer.png') no-repeat;
    }

    .hotelpreferences1 li:hover.icohp-hairdryer {
        background: url('../../img/hotelpref-ico/hairdryer1.png') no-repeat;
    }

    .hotelpreferences1 li.icohp-garden {
        background: url('../../img/hotelpref-ico/garden.png') no-repeat;
    }

    .hotelpreferences1 li:hover.icohp-garden {
        background: url('../../img/hotelpref-ico/garden1.png') no-repeat;
    }

    .hotelpreferences1 li.icohp-grill {
        background: url('../../img/hotelpref-ico/grill.png') no-repeat;
    }

    .hotelpreferences1 li:hover.icohp-grill {
        background: url('../../img/hotelpref-ico/grill1.png') no-repeat;
    }

    .hotelpreferences1 li.icohp-kitchen {
        background: url('../../img/hotelpref-ico/kitchen.png') no-repeat;
    }

    .hotelpreferences1 li:hover.icohp-kitchen {
        background: url('../../img/hotelpref-ico/kitchen1.png') no-repeat;
    }

    .hotelpreferences1 li.icohp-bar {
        background: url('../../img/hotelpref-ico/bar.png') no-repeat;
    }

    .hotelpreferences1 li:hover.icohp-bar {
        background: url('../../img/hotelpref-ico/bar1.png') no-repeat;
    }

    .hotelpreferences1 li.icohp-living {
        background: url('../../img/hotelpref-ico/living.png') no-repeat;
    }

    .hotelpreferences1 li:hover.icohp-living {
        background: url('../../img/hotelpref-ico/living1.png') no-repeat;
    }

    .hotelpreferences1 li.icohp-tv {
        background: url('../../img/hotelpref-ico/tv.png') no-repeat;
    }

    .hotelpreferences1 li:hover.icohp-tv {
        background: url('../../img/hotelpref-ico/tv1.png') no-repeat;
    }

    .hotelpreferences1 li.icohp-fridge {
        background: url('../../img/hotelpref-ico/fridge.png') no-repeat;
    }

    .hotelpreferences1 li:hover.icohp-fridge {
        background: url('../../img/hotelpref-ico/fridge1.png') no-repeat;
    }

    .hotelpreferences1 li.icohp-microwave {
        background: url('../../img/hotelpref-ico/microwave.png') no-repeat;
    }

    .hotelpreferences1 li:hover.icohp-microwave {
        background: url('../../img/hotelpref-ico/microwave1.png') no-repeat;
    }

    .hotelpreferences1 li.icohp-washing {
        background: url('../../img/hotelpref-ico/washing.png') no-repeat;
    }

    .hotelpreferences1 li:hover.icohp-washing {
        background: url('../../img/hotelpref-ico/washing1.png') no-repeat;
    }

    .hotelpreferences1 li.icohp-roomservice {
        background: url('../../img/hotelpref-ico/roomservice.png') no-repeat;
    }

    .hotelpreferences1 li:hover.icohp-roomservice {
        background: url('../../img/hotelpref-ico/roomservice1.png') no-repeat;
    }

    .hotelpreferences1 li.icohp-safe {
        background: url('../../img/hotelpref-ico/safe.png') no-repeat;
    }

    .hotelpreferences1 li:hover.icohp-safe {
        background: url('../../img/hotelpref-ico/safe.png') no-repeat;
    }

    .hotelpreferences1 li.icohp-playground {
        background: url('../../img/hotelpref-ico/playground.png') no-repeat;
    }

    .hotelpreferences1 li:hover.icohp-playground {
        background: url('../../img/hotelpref-ico/playground1.png') no-repeat;
    }

    .hotelpreferences1 li.icohp-conferenceroom {
        background: url('../../img/hotelpref-ico/conferenceroom.png') no-repeat;
    }

    .hotelpreferences1 li:hover.icohp-conferenceroom {
        background: url('../../img/hotelpref-ico/conferenceroom1.png') no-repeat;
    }
	
	.hotelpreferences1 li.icohp-halal {
        background: url('../../img/hotelpref-ico/halal.png') no-repeat;
    }
	
	.hotelpreferences1 li:hover.icohp-halal {
        background: url('../../img/hotelpref-ico/halal1.png') no-repeat;
    }
	
	.hotelpreferences1 li.icohp-masjid {
        background: url('../../img/hotelpref-ico/masjid.png') no-repeat;
    }
	
	.hotelpreferences1 li:hover.icohp-masjid {
        background: url('../../img/hotelpref-ico/masjid1.png') no-repeat;
    }
	
	.hotelpreferences1 li.icohp-smoking {
        background: url('../../img/hotelpref-ico/smoking.png') no-repeat;
    }
	
	.hotelpreferences1 li:hover.icohp-smoking {
        background: url('../../img/hotelpref-ico/smoking1.png') no-repeat;
    }
	
	.hotelpreferences1 li.icohp-meeting {
        background: url('../../img/hotelpref-ico/meeting.png') no-repeat;
    }
	
	.hotelpreferences1 li:hover.icohp-meeting {
        background: url('../../img/hotelpref-ico/meeting1.png') no-repeat;
    }
	
	.hotelpreferences1 li.icohp-meal {
        background: url('../../img/hotelpref-ico/meal.png') no-repeat;
    }
	
	.hotelpreferences1 li:hover.icohp-meal {
        background: url('../../img/hotelpref-ico/meal1.png') no-repeat;
    }
	
	.hotelpreferences1 li.icohp-iron {
        background: url('../../img/hotelpref-ico/iron.png') no-repeat;
    }
	
	.hotelpreferences1 li:hover.icohp-iron {
        background: url('../../img/hotelpref-ico/iron1.png') no-repeat;
    }
	
	.hotelpreferences1 li.icohp-telephone {
        background: url('../../img/hotelpref-ico/telephone.png') no-repeat;
    }
	
	.hotelpreferences1 li:hover.icohp-telephone {
        background: url('../../img/hotelpref-ico/telephone1.png') no-repeat;
    }
	
	.hotelpreferences1 li.icohp-laundry {
        background: url('../../img/hotelpref-ico/laundry.png') no-repeat;
    }
	
	.hotelpreferences1 li:hover.icohp-laundry {
        background: url('../../img/hotelpref-ico/laundry1.png') no-repeat;
    }
	
	.hotelpreferences1 li.icohp-lift {
        background: url('../../img/hotelpref-ico/lift.png') no-repeat;
    }
	
	.hotelpreferences1 li:hover.icohp-lift {
        background: url('../../img/hotelpref-ico/lift1.png') no-repeat;
    }

/*For test purpose*/
