﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="ClickUrHotel_Master.master.cs" Inherits="ClickUrHotel.ClickUrHotel_Master" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arabian Tours & Travels</title>
	<link rel="stylesheet" href="assets/css/preloader.css">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/vendor.css">
	<link rel="stylesheet" href="assets/css/app.css">
	<link rel="stylesheet" href="assets/css/responsive.css">
	<link rel="stylesheet" href="assets/css/custom.css">
	<script type="text/javascript" src="js/jquery.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/5bc5909461d0b770925158fc/default';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>
        <!--End of Tawk.to Script-->
</head>
    <body class="page-template-default loaded" data-elementor-device-mode="desktop" data-spy="scroll" data-offset="50">
    <header class="banner navbar navbar-default navbar-static-top dark-header headhesive--clone headhesive--unstick" role="banner" data-transparent-header="true">

        <!-- top navigation -->
        <div class="top-nav">
            <div class="container">
                <div class="row col-md-12">
                    <div class="top-nav-text">
                        <p>Welcome to Arabian Tours & Travels!</p>
                    </div>
                    <div class="top-nav-icon-blocks">
                        <div class="icon-block">
                            <p>
								<a href="mailto:info@arabian.co.in">
									<i class="glyphicons glyphicons-envelope"></i>
									<span>info@arabian.co.in</span>
								</a>
                            </p>
                        </div>
                        <div class="icon-block">
                            <p><a href="#"><i class="glyphicons glyphicons-google-maps"></i><span>How to Find Us</span></a></p>
                        </div>
                        <div class="icon-block">
                            <p><a href="tel:+91 22 4062 7860"><i class="glyphicons glyphicons-iphone"></i><span>+91 22 4062 7860</span></a></p>
                        </div>
                        <div class="icon-block">
                            <p><a href="fax:+91 22 2344 5282" href="#"><i class="glyphicons glyphicons-fax"></i><span>+91 22 2344 5282</span></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END top navigation -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <div id="logo">
                    <a href="index.html">
                   	  <img class="logo-trans logo-reg" src="assets/images/logo/Arabian-final-logo1.png" alt="Arabian">
                      <img class="logo-main logo-reg" src="assets/images/logo/Arabian-final-logo1.png" alt="Arabian">
					</a>
                </div>
            </div>

            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul id="menu-main-menu" class="nav navbar-nav">
                    <li class="active menu-home"><a href="Default.aspx">Home </a>                        
                    </li>
                    <li class="menu-about-us"><a href="about-us.aspx">About Us </a>
                        
                    </li>
                    <li class="menu-services"><a href="services.aspx">Services </a>
                        
                    </li>
                    <li class="dropdown menu-our-packages"><a class="dropdown-toggle" href="#">Our Packages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
							<li class="menu-hajj-tour-package">
								<a href="#">Hajj Tour Package</a>
							</li>
							<li class="menu-umrah-tour-package">
								<a href="#">Umrah Tour Package</a>
							</li>
						</ul>
                    </li>
                    <li class="menu-contact-us"><a href="contact-us.aspx">Contact Us </a>
                        
                    </li>
                    <li class="th-accent menu-download-theme"><a target="_blank" href="#">Get in Touch</a></li>
                    <li class="th-accent menu-download-theme"><a target="_blank" href="Login.aspx">Agent Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Preloader Start -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- Preloader End -->

    <header class="banner navbar navbar-default navbar-static-top dark-header" role="banner" data-transparent-header="true">

        <!-- top navigation -->
        <div class="top-nav">
            <div class="container">
                <div class="row col-md-12">
                    <div class="top-nav-text">
                        <p>Welcome to Arabian Tours & Travels!</p>
                    </div>
                    <div class="top-nav-icon-blocks">
                        <div class="icon-block">
                            <p><a href="mailto:info@arabian.co.in"><i class="glyphicons glyphicons-envelope"></i><span>info@arabian.co.in</span></a></p>
                        </div>
                        <div class="icon-block">
                            <p><a href="#"><i class="glyphicons glyphicons-google-maps"></i><span>How to Find Us</span></a></p>
                        </div>
                        <div class="icon-block">
                            <p><a href="tel:+91 22 4062 7860"><i class="glyphicons glyphicons-iphone"></i><span>+91 22 4062 7860</span></a></p>
                        </div>
                        <div class="icon-block">
                            <p><a href="fax:+91 22 2344 5282" href="#"><i class="glyphicons glyphicons-fax"></i><span>+91 22 2344 5282</span></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END top navigation -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
				</button>
                <div id="logo">
                    <a href="index.html">
                   	    <img class="logo-trans logo-reg" src="assets/images/logo/Arabian-final-logo1.png" alt="Arabian">
                        <img class="logo-main logo-reg" src="assets/images/logo/Arabian-final-logo1.png" alt="Arabian">
					</a>
                </div>
            </div>

            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul id="menu-main-menu" class="nav navbar-nav">
                    <li class="active menu-home"><a href="Default.aspx">Home </a></li>
                    <li class="menu-pages"><a href="about-us.aspx">About Us </a></li>
                    <li class="menu-features"><a href="services.aspx">Services </a></li>
                    <li class="dropdown menu-blog"><a class="dropdown-toggle" href="#">Our Packages <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="menu-hajj-tour-package">
								<a href="#">Hajj Tour Package</a>
							</li>
							<li class="menu-umrah-tour-package">
								<a href="#">Umrah Tour Package</a>
							</li>
						</ul>
					</li>
                    <li class="menu-blog"><a href="#">Gallery </a></li>
                    <li class="menu-blog"><a href="contact-us.aspx">Contact Us </a></li>
                     <li class="th-accent menu-download-theme"><a target="_blank" href="#">Get in Touch</a></li>
                    <li class="th-accent menu-download-theme"><a target="_blank" href="Login.aspx">Agent Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="wrap" role="document">

        <div class="content">

            <div class="inner-container">

                <section id="themo_page_header_1" class="light-text parallax-preload parallax-bg full-header-img" data-stellar-background-ratio="0.15" data-stellar-vertical-offset="145" style="padding-top: 238px; background-position: 50% -21.75px;">
					<div class="container">
						<div class="row">
							<div class="page-title centered">
								<h1 class="page-title-h1 "></h1>
								<div class="page-title-button "><a href="#map" class="btn btn-ghost   th-btn">MAP &amp; DIRECTIONS</a></div>
							</div>
						</div>
						<!-- /.row -->
					</div>
					<!-- /.container -->
				</section>

				<asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
                </asp:ContentPlaceHolder>
					
            </div>
            <!-- /.inner-container -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.wrap -->


    <div class="prefooter"></div>

    <footer class="footer" role="contentinfo">
        <div class="container">
            <div class="footer-widgets row">
                <div class="footer-area-1 col-md-3 col-sm-6">
					<section class="widget text-2 widget_text">
						<div class="widget-inner">
							<h3 class="widget-title">About Us</h3>
							<div class="textwidget">
								<p align="justify">Arabian Tours &amp; Travels is proud to announce that they are the leaders in their industry of religious tourism. Apart from our competitive rates and convenient locations with a network of hotel in Makkah &amp; Madina. <br>» <a href="about-us.html"
										style="color:#eee;">Read More</a></p>
							</div>
						</div>
					</section>
				</div>
                <div class="footer-area-2 col-md-3 col-sm-6">
					<section class="widget nav_menu-2 widget_nav_menu">
						<div class="widget-inner">
							<h3 class="widget-title">Quick Menu</h3>
							<ul id="menu-footer-menu" class="menu">
								<li class="active menu-home"><a href="index.html">Home</a></li>
								<li class="menu-about-us"><a href="about-us.html">About Us</a></li>
								<li class="menu-services"><a href="#">Services</a></li>
								<li class="menu-gallery"><a href="#">Gallery</a></li>
							</ul>
						</div>
                        <div class="icon-block">
                                <div class="row">
                                    <div class="col-md-2 col-sm-12"">
                                        <p><a href="https://www.facebook.com/tourarabian/"><i class="fa fa-facebook-square"></i><span></span></a></p>
                                    </div>
                                    <div class="col-md-2 col-sm-12"">
                                        <p><a href="https://twitter.com/tourarabian"><i class="fa fa-twitter-square"></i><span></span></a></p>
                                    </div>
                                    <div class="col-md-2 col-sm-12"">
                                        <p><a href="https://www.instagram.com/tourarabian/"><i class="fa fa-instagram"></i><span></span></a></p>
                                    </div>
                                    <div class="col-md-2 col-sm-12"">
                                        <p><a href="https://plus.google.com/106039359983799112610"><i class="fa fa-google-plus-square"></i><span></span></a></p>
                                    </div>
                                </div>
                            </div>
					</section>
				</div>
                <div class="footer-area-3 col-md-3 col-sm-6">
					<section class="widget widget-th-contact-info">
						<div class="widget-inner">
							<h3 class="widget-title">Contact Info</h3>
							<div class="th-contact-info-widget">
								<div class="icon-blocks">
									<div class="icon-block">
										<p><a href="mailto:info@arabian.co.in"><i class="glyphicons glyphicons-envelope"></i><span>info@arabian.co.in</span></a></p>
									</div>
									<div class="icon-block">
										<p><a href="tel:+91%2022%204062%207860%20"><i class="glyphicons glyphicons-iphone"></i><span>+91 22 4062 7860 </span></a></p>
									</div>
									<div class="icon-block">
										<p><a href="fax:+91%2022%202344%205282"><i class="glyphicons glyphicons-fax"></i><span>+91 22 2344 5282</span></a></p>
									</div>
									<div class="icon-block">
										<p><a href="http://arabian.co.in/contact-us/#/map"><i class="glyphicons glyphicons-google-maps"></i><span>95, Memonwada Road, Amina Apartment,  Ground Floor, Shop No.2, Mumbai - 400 003. INDIA</span></a></p>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
                <div class="footer-area-4 col-md-3 col-sm-6">
                    <section class="widget recent-posts-5 widget_recent_entries">
                        <div class="widget-inner">
                            <h3 class="widget-title">Photo Gallery</h3>
                            
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="footer-btm-bar">
            <div class="container">
                <div class="footer-copyright row">
                    <div class="col-xs-12">
						<p><span class="footer_copy">&nbsp;© 2016 Arabian Tours &amp; Travels</span> - <span class="footer_credit">| All Rights Reserved | Powered by : <a target="_blank" href="http://dreamzvision.com/">Dreamzvision</a></span></p>
					</div>
                </div>
            </div>
        </div>
    </footer>
	
    <button onclick="topFunction()" id="myBtn" title="Go to top"><span class="glyphicon glyphicon-chevron-up"></span></button>     
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
		function onReady(callback) {
		var intervalID = window.setInterval(checkReady, 1000);

			function checkReady() {
				if (document.getElementsByTagName('body')[0] !== undefined) {
					window.clearInterval(intervalID);
					callback.call(this);
				}
			}
		}

		function show(id, value) {
			document.getElementById(id).style.display = value ? 'block' : 'none';
		}

		onReady(function () {
			show('page', true);
			show('loader', false);
		});
	</script>
	<!--Scroll top javascript-->
	<script>
		// When the user scrolls down 20px from the top of the document, show the button
		window.onscroll = function() {scrollFunction()};

		function scrollFunction() {
			if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
				document.getElementById("myBtn").style.display = "block";
			} else {
				document.getElementById("myBtn").style.display = "none";
			}
		}

		// When the user clicks on the button, scroll to the top of the document
		function topFunction() {
			document.body.scrollTop = 0;
			document.documentElement.scrollTop = 0;
		}
	</script>
</body>
<%--<body>
    <form id="form1" runat="server">
    <div>
        
    </div>
    </form>
</body>--%>
</html>
