﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Agent/AgentMaster.Master" AutoEventWireup="true" CodeBehind="b2bHotels.aspx.cs" Inherits="ClickUrHotel.Agent.b2bHotels" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <link href="../css/styles/hotel-icon.css" rel="stylesheet" />
    <script src="../Scripts/b2bhotel.js?v=1.21"></script>
    <script src="../Scripts/RoomRates.js?v=1.71"></script>
    <script src="../Scripts/b2bRates.js?v=1.97"></script>
    <script src="../Scripts/HotelSearch.js?v=1.37"></script>
    <script src="../js/libs/Slides.js?v=1.38"></script>
    <style>
        .Imgslider {
            margin: 0 auto;
            max-width: 940px;
        }

        .slide_viewer {
            height: 200px;
            overflow: hidden;
            position: relative;
        }

        .slide_group {
            height: 100%;
            position: relative;
            width: 100%;
        }

        .slide {
            display: none;
            height: 100%;
            position: absolute;
            width: 100%;
        }

            .slide:first-child {
                display: block;
            }

            .slide:nth-of-type(1) {
                background: #D7A151;
            }

            .slide:nth-of-type(2) {
                background: #F4E4CD;
            }

            .slide:nth-of-type(3) {
                background: #C75534;
            }

            .slide:nth-of-type(4) {
                background: #D1D1D4;
            }

        .slide_buttons {
            left: 0;
            right: 0;
            text-align: center;
        }

        a.slide_btn {
            color: #474544;
            font-size: 42px;
            margin: 0 0.175em;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
        }

        .slide_btn.active, .slide_btn:hover {
            color: #428CC6;
            cursor: pointer;
        }

        .directional_nav {
            margin: 0 auto;
            max-width: 940px;
            position: relative;
            top: -100px;
        }

        .previous_btn {
            bottom: 0;
            left: 100px;
            margin: auto;
            position: absolute;
            top: 0;
        }

        .next_btn {
            bottom: 0;
            margin: auto;
            position: absolute;
            right: 100px;
            top: 0;
        }

        .previous_btn, .next_btn {
            cursor: pointer;
            height: 65px;
            opacity: 0.5;
            -webkit-transition: opacity 0.4s ease-in-out;
            -moz-transition: opacity 0.4s ease-in-out;
            -ms-transition: opacity 0.4s ease-in-out;
            -o-transition: opacity 0.4s ease-in-out;
            transition: opacity 0.4s ease-in-out;
            width: 65px;
        }

            .previous_btn:hover, .next_btn:hover {
                opacity: 1;
            }

        @media only screen and (max-width: 767px) {
            .previous_btn {
                left: 50px;
            }

            .next_btn {
                right: 50px;
            }
        }

        .tab-active {
            height: auto;
        }

        #tooltips div {
            width: 250px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <section role="main" id="main">

        <hgroup id="main-title" class="bold grey ">
            <h2 style="float: right">
                <a href="#" class="addnew " id="lbl_Fillter" style="cursor: pointer"><i class="fa fa-filter"></i></a>
                <input type="button" class="button anthracite-gradient buttonmrgTop" id="btn_mdfSearch" onclick="ShowSearch();" value="Modify Search">
            </h2>
        </hgroup>
        <br />
        <div class="with-padding ">

            <div id="div_Search" style="display: none;" class="anthracite-gradient wrapped  ">
                <div class="columns">
                    <div class="new-row four-columns six-columns-mobile">
                        <label for="txt_Destination" class="label">Destination</label><span class="red">*</span>
                        <input type="text" id="txt_Destination" placeholder="City name" class="input  ui-autocomplete-input full-width" onchange=" GetHotelList();">
                    </div>
                    <div class="four-columns six-columns-mobile">
                        <label for="txt_HotelName" class="label">Hotel Name</label>
                        <%--<input type="text" id="txt_HotelName" list="listHotels" placeholder="Hotel name" class="input ui-autocomplete-input full-width">
                        <datalist id="listHotels"></datalist>--%>
                        <select id="listHotels" class="select multiple-as-single easy-multiple-selection allow-empty check-list chkNationality full-width" multiple="multiple">
                        </select>
                    </div>


                    <input type="hidden" id="hdnDCode" />
                    <input type="hidden" id="hdnHCode" />

                    <div class="four-columns twelve-columns-mobile" id="drp_Nationality">
                        <label for="sel_Nationality" class="label">Nationality</label><span class="red">*</span>
                        <select id="sel_Nationality" onchange="CheckNationality(this.value);" class="select multiple-as-single easy-multiple-selection allow-empty check-list chkNationality full-width">
                        </select>
                    </div>
                </div>

                <div class="columns">
                    <div class="three-columns six-columns-mobile">
                        <label for="txt_Checkin" class="label">Check In</label><span class="red">*</span><br />
                        <%--  <span class="input full-width datePick">
                        <input type="text" id="txt_Checkin" class="input-unstyled  gldp-el" value="">
                    </span>--%>
                        <span class="input full-width datePick">
                            <span class="icon-calendar"></span>
                            <input type="text" id="txt_Checkin" class="input-unstyled  gldp-el" value="">
                        </span>

                    </div>

                    <div class="three-columns six-columns-mobile">
                        <label for="txt_Checkout" class="label">Check Out</label><span class="red">*</span><br />
                        <span class="input full-width datePick">
                            <span class="icon-calendar"></span>

                            <input type="text" id="txt_Checkout" class="input-unstyled" value="" />
                        </span>
                    </div>

                    <div class="three-columns six-columns-mobile" id="drp_Nights">
                        <label for="sel_Nights" class="label">Nights</label><br />
                        <select id="sel_Nights" class="select full-width" onchange="drpChangeNights();">
                            <option selected="selected" value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                        </select>
                    </div>


                    <%-- <div class="new-row  three-columns">
                    <label for="sel_Nationality" class="label">Nationality</label>
                    <select id="sel_Nationality" class="select  full-width">
                        <option value="" selected="selected" disabled>Please Select</option>
                    </select>
                </div>--%>


                    <div class="three-columns six-columns-mobile">
                        <label for="sel_Rooms" class="label">Rooms</label><br />
                        <select id="Select_Rooms" class="select full-width">
                            <option selected="selected" value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                    </div>

                </div>


                <!--First room-->
                <div class="columns">
                    <div class="three-columns">
                        <label for="sel_Rooms" class="label"></label>
                        <br />
                        <input type="text" id="spn_RoomType1" placeholder="First Room" class="input  ui-autocomplete-input full-width" disabled autocomplete="off">
                    </div>
                    <div class="one-columns " id="Select_Adults1">
                        <label for="Select_Adults1" class="label">Adults</label><br />
                        <select id="Select_Adults1d" class="select full-width">
                            <option selected="selected" value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="one-columns ">
                        <label for="s" class="label">Childs</label><br />
                        <select id="Select_Children1" class="select full-width">
                            <option selected="selected" value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="one-columns " id="Select_AgeChildFirst1" style="display: none">
                        <label for="Select_AgeChildFirst1" class="label">Childs Ages</label><br />
                        <select id="Select_AgeChildFirst1d" class="select full-width" style="display: none">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildSecond1" style="display: none">
                        <label for="Select_AgeChildSecond1" class="label"></label>
                        <br />
                        <select id="Select_AgeChildSecond1d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildThird1" style="display: none">
                        <label for="Select_AgeChildThird1" class="label"></label>
                        <br />
                        <select id="Select_AgeChildThird1d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildFourth1" style="display: none">
                        <label for="Select_AgeChildFourth1" class="label"></label>
                        <br />
                        <select id="Select_AgeChildFourth1d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                </div>

                <!--Second room-->
                <div class="columns">
                    <div class="three-columns test" id="spn_RoomType2" style="display: none">

                        <input type="text" id="spn_RoomType2d" class="input ui-autocomplete-input full-width" disabled="disabled" value="Second Room" style="cursor: default;">
                    </div>
                    <div class="one-columns test" id="Select_Adults2" style="display: none">

                        <select id="Select_Adults2d" class="select full-width">
                            <option value="1">1</option>
                            <option value="2" selected="selected">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="one-columns test" id="Select_Children2" style="display: none">

                        <select id="Select_Children2d" class="select full-width">
                            <option selected="selected" value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildFirst2" style="display: none">

                        <select id="Select_AgeChildFirst2d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildSecond2" style="display: none">

                        <select id="Select_AgeChildSecond2d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildThird2" style="display: none">

                        <select id="Select_AgeChildThird2d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildFourth2" style="display: none">

                        <select id="Select_AgeChildFourth2d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                </div>

                <!--Third room-->
                <div class="columns">
                    <div class="three-columns test" id="spn_RoomType3" style="display: none">

                        <input type="text" id="spn_RoomType3d" class="input ui-autocomplete-input full-width" disabled="disabled" value="Third Room" style="cursor: default;">
                    </div>
                    <div class="one-columns test" id="Select_Adults3" style="display: none">

                        <select id="Select_Adults3d" class="select full-width">
                            <option value="1">1</option>
                            <option value="2" selected="selected">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="one-columns test" id="Select_Children3" style="display: none">

                        <select id="Select_Children3d" class="select full-width">
                            <option selected="selected" value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildFirst3" style="display: none">

                        <select id="Select_AgeChildFirst3d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildSecond3" style="display: none">

                        <select id="Select_AgeChildSecond3d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildThird3" style="display: none">

                        <select id="Select_AgeChildThird3d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildFourth3" style="display: none">

                        <select id="Select_AgeChildFourth3d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                </div>

                <!--Forth room-->
                <div class="columns">
                    <div class="three-columns test" id="spn_RoomType4" style="display: none">

                        <input type="text" id="spn_RoomType4d" class="input ui-autocomplete-input full-width" value="Fourth Room" disabled="disabled" style="cursor: default;">
                    </div>
                    <div class="one-columns test" id="Select_Adults4" style="display: none">

                        <select id="Select_Adults4d" class="select full-width">
                            <option value="1">1</option>
                            <option value="2" selected="selected">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="one-columns test" id="Select_Children4" style="display: none">

                        <select id="Select_Children4d" class="select full-width">
                            <option selected="selected" value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildFirst4" style="display: none">

                        <select id="Select_AgeChildFirst4d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildSecond4" style="display: none">

                        <select id="Select_AgeChildSecond4d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildThird4" style="display: none">

                        <select id="Select_AgeChildThird4d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildFourth4" style="display: none">

                        <select id="Select_AgeChildFourth4d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                </div>

                <!--Fifth room-->
                <div class="columns">
                    <div class="three-columns test" id="spn_RoomType5" style="display: none">

                        <input type="text" id="spn_RoomType5d" class="input ui-autocomplete-input full-width" value="Fifth Room" disabled="disabled" style="cursor: default;">
                    </div>
                    <div class="one-columns test" id="Select_Adults5" style="display: none">

                        <select id="Select_Adults5d" class="select full-width">
                            <option value="1">1</option>
                            <option value="2" selected="selected">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="one-columns test" id="Select_Children5" style="display: none">

                        <select id="Select_Children5d" class="select full-width">
                            <option selected="selected" value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildFirst5" style="display: none">

                        <select id="Select_AgeChildFirst5d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildSecond5" style="display: none">

                        <select id="Select_AgeChildSecond5d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildThird5" style="display: none">

                        <select id="Select_AgeChildThird5d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildFourth5" style="display: none">

                        <select id="Select_AgeChildFourth5d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                </div>

                <!--Sixth room-->

                <div class="columns">
                    <div class="three-columns test" id="spn_RoomType6" style="display: none">

                        <input type="text" id="spn_RoomType6d" class="input ui-autocomplete-input full-width" value="Sixth Room" disabled="disabled" style="cursor: default;">
                    </div>
                    <div class="one-columns test" id="Select_Adults6" style="display: none">

                        <select id="Select_Adults6d" class="select full-width">
                            <option value="1">1</option>
                            <option value="2" selected="selected">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="one-columns test" id="Select_Children6" style="display: none">

                        <select id="Select_Children6d" class="select full-width">
                            <option selected="selected" value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildFirst6" style="display: none">

                        <select id="Select_AgeChildFirst6d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildSecond6" style="display: none">

                        <select id="Select_AgeChildSecond6d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildThird6" style="display: none">

                        <select id="Select_AgeChildThird6d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildFourth6" style="display: none">

                        <select id="Select_AgeChildFourth6d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                </div>

                <!--Seventh room-->

                <div class="columns">
                    <div class="three-columns test" id="spn_RoomType7" style="display: none">

                        <input type="text" id="spn_RoomType7d" class="input ui-autocomplete-input full-width" value="Seventh Room" disabled="disabled" style="cursor: default;">
                    </div>
                    <div class="one-columns test" id="Select_Adults7" style="display: none">

                        <select id="Select_Adults7d" class="select full-width">
                            <option value="1">1</option>
                            <option value="2" selected="selected">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="one-columns test" id="Select_Children7" style="display: none">

                        <select id="Select_Children7d" class="select full-width">
                            <option selected="selected" value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildFirst7" style="display: none">

                        <select id="Select_AgeChildFirst7d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildSecond7" style="display: none">

                        <select id="Select_AgeChildSecond7d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildThird7" style="display: none">

                        <select id="Select_AgeChildThird7d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildFourth7" style="display: none">

                        <select id="Select_AgeChildFourth7d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                </div>

                <!--Eight room-->
                <div class="columns">
                    <%-- <div class="new row four-columns">
            </div>--%>
                    <div class="three-columns test" id="spn_RoomType8" style="display: none">

                        <input type="text" id="spn_RoomType8d" class="input ui-autocomplete-input full-width" value="Eight Room" disabled="disabled" style="cursor: default;">
                    </div>
                    <div class="one-columns test" id="Select_Adults8" style="display: none">

                        <select id="Select_Adults8d" class="select full-width">
                            <option value="1">1</option>
                            <option value="2" selected="selected">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="one-columns test" id="Select_Children8" style="display: none">

                        <select id="Select_Children8d" class="select full-width">
                            <option selected="selected" value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildFirst8" style="display: none">

                        <select id="Select_AgeChildFirst8d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildSecond8" style="display: none">

                        <select id="Select_AgeChildSecond8d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildThird8" style="display: none">

                        <select id="Select_AgeChildThird8d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildFourth8" style="display: none">

                        <select id="Select_AgeChildFourth8d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                </div>

                <!--Ninth room-->
                <div class="columns">
                    <div class="three-columns test" id="spn_RoomType9" style="display: none">

                        <input type="text" id="spn_RoomType9d" class="input ui-autocomplete-input full-width" value="Ninth Room" disabled="disabled" style="cursor: default;">
                    </div>
                    <div class="one-columns test" id="Select_Adults9" style="display: none">

                        <select id="Select_Adults9d" class="select full-width">
                            <option value="1">1</option>
                            <option value="2" selected="selected">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="one-columns test" id="Select_Children9" style="display: none">

                        <select id="Select_Children9d" class="select full-width">
                            <option selected="selected" value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildFirst9" style="display: none">

                        <select id="Select_AgeChildFirst9d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildSecond9" style="display: none">

                        <select id="Select_AgeChildSecond9d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildThird9" style="display: none">

                        <select id="Select_AgeChildThird9d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>
                    <div class="one-columns test" id="Select_AgeChildFourth9" style="display: none">

                        <select id="Select_AgeChildFourth9d" class="select full-width">
                            <option selected="selected" value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                        </select>
                    </div>



                    <p class="SearchBtn">
                        <input type="button" class="button anthracite-gradient buttonmrgTop" onclick="SearchRates();" value="Search" />
                    </p>
                </div>




            </div>

            <div id="filter" class="" style="display:none">
                <h4 class="green underline thin">Filters</h4>
                <div class="columns">
                    <div class="new-row twelve-columns twelve-columns-mobile four-columns-tablet">
                        <ul class="inputs black-input large">
                            <li><span class="icon-search mid-margin-right"></span>
                                <input type="text" name="HotelName" id="txt_HotelName" value="" class="input-unstyled" placeholder="Hotel Name" autocomplete="true"></li>

                        </ul>
                    </div>

                    <div class="new-row twelve-columns twelve-columns-mobile four-columns-tablet">
                        <label for="sel_Category" class="label">Category</label>
                        <select id="sel_Category" class="select multiple white-gradient easy-multiple-selection check-list full-width" multiple="multiple">
                         <option value="All" selected="selected">All</option>
                        </select>
                    </div>

                    <div class="new-row twelve-columns twelve-columns-mobile four-columns-tablet">
                        <label>Location</label>
                        <select class="select multiple-as-single easy-multiple-selection allow-empty check-list full-width  " id="sel_Location" multiple>
                            <option value="All" selected="selected">All</option>
                        </select>
                    </div>

                    <div class="new-row twelve-columns twelve-columns-mobile four-columns-tablet">
                        <label>Facility</label>
                        <select class="select multiple-as-single easy-multiple-selection allow-empty check-list full-width" multiple="multiple" id="sel_Facility">
                        </select>
                    </div>

                    <div class="new-row twelve-columns twelve-columns-mobile four-columns-tablet">
                        <label>Price Range</label>
                        <div class="full-width button-height" id="Price_Filter">
                            <span class="demo-Imgslider" data-imgslider-options='{"size":false,"values":[0,100],"tooltip":["top","top"],"tooltipOnHover":false,"topLabelAlign":"right","barClasses":["red-gradient","glossy"]}'></span>
                        </div>
                    </div>



                </div>
                <div class="clearfix"></div>
            </div>

            <hr class="underline" />
            <div id="itemcontent">
            </div>
        </div>
    </section>
    <script>
        $(function myfunction() {
            $("#txt_Destination").autocomplete({
                source: function (request, response) {
                    jQuery.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "../handler/HotelHandler.asmx/GetDestinationCode",
                        data: "{'name':'" + document.getElementById('txt_Destination').value + "'}",
                        dataType: "json",
                        success: function (data) {
                            var result = (typeof data.d) == 'string' ? eval('(' + data.d + ')') : data.d;
                            response(result);
                        },
                        error: function (result) {
                            alert("No Match");
                        }
                    });
                },
                minLength: 3,
                select: function (event, ui) {
                    jQuery('#hdnDCode').val(ui.item.id);
                }
            });

        })


    </script>
    <script>
    </script>
</asp:Content>
