﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.Master" AutoEventWireup="true" CodeBehind="TaxSeattings.aspx.cs" Inherits="CutAdmin.TaxSeattings" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script src="Scripts/TaxConfigration.js?v=1.0"></script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
     <section role="main" id="main">
        <noscript class="message black-gradient simpler">Your browser does not support JavaScript! Some features won't work as expected...</noscript>
        <hgroup id="main-title" class="thin">
            <h1>Tax Configration </h1>
            <hr />
        </hgroup>
        <div class="with-padding">
              <div class="" id="div_TaxDetails">


                </div>
             <p class="SearchBtn">
                        <input type="button" class="button anthracite-gradient buttonmrgTop" onclick="Save();" value="Save" />
                    </p>
            
        </div>

    </section>
</asp:Content>
