.themo_slider_0{
	background-color: rgb(0, 0, 0) !important;
    background-image: url(../images/slider4-1920x1200.jpg);
    padding-top: 318px !important;
	}
.themo_slider_1{
	background-image: url(../images/slider5-1920x1200.jpg);
    padding-top: 318px !important;
}
section#themo_tour_1_0{
	background-image:url('../images/hotel_tour_01.jpg'); 
	background-attachment:scroll; background-position:center center; background-repeat:no-repeat; 
	background-size:cover;
}
section#themo_tour_1_0{
	padding-top:105px; padding-bottom:105px;
}
section#themo_tour_1_1{
	background-image:url('../images/hotel_tour_02_2.jpg');
}
section#themo_tour_1_1{
	padding-top:105px; padding-bottom:105px
}
section#themo_tour_1_2{
	background-image:url('../images/hotel_tour_03_1.jpg'); background-attachment:scroll; 
	background-position:center center; background-repeat:no-repeat; background-size:cover;
}
section#themo_tour_1_2{
	padding-top:105px; padding-bottom:105px;
}

section#themo_page_header_1 {
    background-image: url(../images/header-banner3-1920x600.jpg);
	padding-top: 238px;
    background-position: 50% -21.75px;
	padding-bottom: 5px;
}										

section#themo_service_block_1 {
    padding-top: 90px;
    padding-bottom: 45px;
}

section#themo_service_block_split_1 {
    padding-top: 70px;
    padding-bottom: 70px;
}
					
#themo_testimonials_1{background-color: #69777d;}

#myBtn {
  display: none;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 18px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(000,000,000,0.3);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}