﻿.table-scroll {
	position:relative;
	overflow:hidden;
	border-width:2px;
}
.table-wrap {
	width:100%;
    height:fit-content;
	overflow-x:auto;
    overflow-y:hidden;
}
.table-scroll table {
	width:100%;
	margin:auto;
	border-collapse:separate;
	border-spacing:0;
}

.table-scroll thead, .table-scroll tfoot {
	background:#f9f9f9;
}