.clear{clear:both}
.displayNone{display:none}
.respTable {overflow: auto; }
.respTable .table > tbody > tr:nth-child(2n){background: #efefef;}
.hotelmap .columns label {margin-bottom: 0}
.Adv-width{padding:10px; border-radius:5px; max-width:960px; margin:0}
.GreyBG{  padding:10px; border-radius:5px; max-width:680px; margin:0 auto}
.SearchBtn {text-align: right;padding: 10px 0 35px;}
.Savebtn .button{width:105px; float: right;}
.columns > div.mrgTop, .columns label.mrgTop,.mrgTop {margin-top: 25px;}
.actiontab {width: 60px;}
.columns > div.mrgBt {margin-bottom: 20px;}
.SaveReset .button.anthracite-gradient.buttonmrg {float: right;margin: 20px 5px 0;}
.buttonmrg{margin-top:20px}
h3.silver-gradient {margin: 0 0 15px;padding: 8px;position: relative;border-radius: 5px;}
h3.silver-gradient:before { width: 0;
height: 0;left:30px;
border-style: solid;
border-width: 12px 12px 0 12px;bottom: -12px;
border-color: #d8dce1 transparent transparent transparent; position:absolute; content:""}
.textarCancel textarea {height: 60px;}
.align-center.active-deactive {line-height: 26px;}
.table-head h3 {font-size: 20px; text-align:left;margin: 0 0 5px;text-shadow: none;}
.table-head .block-title label {text-shadow: none;}
.table-head .block-title{padding: 6px 20px;}
.table-head h6 {font-size: 12px;margin: 0 0 3px;text-align: left;}
 .datePick input.datepicker {width: 85% !important;}
.text-textright{text-align:right}
.text-textright .button{margin-top: 0;margin-bottom: 1px;}
.SelBox .select.replacement {padding-right: 0;width: 100%;}
.columns label {margin-bottom: 5px;display: inline-block;text-transform: uppercase;font-weight: bold;}
#main-title {padding-bottom: 0;}
.logo {text-align: center;margin: 0;padding: 15px 0;}
.margBT {margin: 15px 0;}
.stats > li > a {margin: -19px 0 -10px;}
.columns > div.activeinput {margin-top: 25px;}
.fieldset.fields-list, .wizard-fieldset.fields-list{background:none}
.field-block {padding: 0 20px 0 25px;}
.selAmenities .boxed {background: #fff;border: 1px solid #e0e0e0;}
.columns.selAmenities .columns > div {margin-bottom: 10px;}
.button.anthracite-gradient.savecancle {margin-top: 40px;}
.button.anthracite-gradient.buttonmrgTop {margin-top: 10px;}
.tabsystem {margin-top: 20px;}
.columns.selcol {float: right;width: 100%;max-width: 300px;margin: -30px 0 0;}
#main-title h2.addromtxt {font-size: 16px;line-height: 18px;}
#main-title h2.addromtxt b {line-height: 27px; display:block}
#main-title h2.addromtxt a {float: right;}
.version-history > li {margin: 0 0 7px 0;padding: 0 0 0 30px;zoom: 1;}
#main-title h2 .grey strong, #main-title h2 b.grey{font-size: 15px;vertical-align: 0;}
.columns > div.plusminus {margin-top: 20px;}
.labeltxt {display: block;font-size: 10px;margin: 5px 0;}
.addinput .input.full-width {display: inline-block;width: 75%;}
.datesformate span.input {margin-bottom: 15px;}
.labelform {list-style: none;margin: 0 0 20px;}
.labelform li {list-style: none;margin: 0 0 10px;}
#main h4 {font-size: 14px;margin-bottom: 1px;line-height: 15px; margin:0}
.tabwhite .columns label {font-size: 12px;}
.chkBox {margin-top: 8px !important;}
.datpick #datepicker {width: 75%;}
.start-sale details.details > summary {font-size: 18px !important;}
.start-sale .icon-chevron-right.icon-size2 {float: right;}
  .start-sale ul {list-style: none;padding: 0;margin: 00;}
.start-sale ul li {margin: 0 0 15px;float: left;width: 50%;font-weight: bold;}
.hotelmap textarea {height: 120px;resize: none;}
.auto-expanding textarea {
	height: 45px;
}
.boxed .columns:last-child {
	margin-bottom: -10px;
}
 
.hotelmap .button > .button-icon.right-side {
	color: white;
	background: #404040 url(../img/old-browsers/colors/bg_anthracite-gradient.png) repeat-x;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#565656), to(#404040));
	background: -webkit-linear-gradient(top, #565656, #404040);
	background: -moz-linear-gradient(top, #565656, #404040);
	background: -ms-linear-gradient(top, #565656, #404040);
	background: -o-linear-gradient(top, #565656, #404040);
	background: linear-gradient(top, #565656, #404040);
	border-color: #282e36;
}

.lftField .columns > div {
	margin-bottom: 14px;
}
.tax-police {
	margin: 0 0 10px;
	font-size: 16px;
}
.contdetais p {
	margin: 0;
}
 .columns > div.contdetais {
	margin-bottom: -20px;
}
.field-block .wizard-spacer {
	height: auto !important;
}
.faicon {
	text-align: right;
	float: right;
}
.faicon .fa.fa-file-pdf-o {
	color: #f00;
}
.faicon .fa.fa-file-excel-o {
	color: green;
}
.faicon .fa {
	font-size: 25px;
	margin-right: 15px;
	display: inline !important;
}
#filter {
	border-radius: 10px;
	margin: 15px 0; position:relative
}
.block-title, details.details > summary { 
	padding: 8px 19px; 
}
.infutFieds .input {
	width: 80%;
}
.infutFieds span input {
	width: 78%;
}
#main h4.txt-detail {
	margin-top: 20px;
}
 .respTable .table.evenodd > tbody > tr:nth-child(2n) {
	background: #FFF;
}

.table > tbody > tr > td.even {
	background: #f0f0f0;
	font-weight: bold;
}
#modals .button.compact {
	margin-top: 10px;
}
.text-alignright {
	text-align: right;
}
@media (min-width:960px) {
.columns .one-column-coloffset			{ margin-left: 6.0833%; }
.columns .two-columns-coloffset		{ margin-left: 14.4167%; }
.columns .three-columns-coloffset		{ margin-left: 22.75%; }
.columns .four-columns-coloffset		{ margin-left: 31.0833%; }
.columns .five-columns-coloffset		{ margin-left: 39.4167%; }
.columns .six-columns-coloffset		{ margin-left: 47.75%; }
.columns .seven-columns-coloffset		{ margin-left: 56.0833%; }
.columns .eight-columns-coloffset		{ margin-left: 64.4167%; }
.columns .nine-columns-coloffset		{ margin-left: 72.72%; }
.columns .ten-columns-coloffset		{margin-left: 81.0833%; }
.columns .eleven-columns-coloffset		{ margin-left: 89.4167%; }
.columns .twelve-columns-coloffset		{ margin-left: 97.75%; }
.roomrate .two-columns {
	width: 17.5%;
}	}
@media screen and (max-width:1030px) {
.addinput .input.full-width {
	display: inline-block;
	width: 72%;
}
}

@media screen and (max-width:767px) {
.respTable {width: 99.4%;overflow: scroll;border-right: 1px solid #d4d4d4;border-left: 1px solid #d4d4d4;}.columns > div.mrgTop{margin-top: 0;}
.with-padding.withpad {padding: 5px !important;}
.columns label {font-size: 11px;}
.columns > div.activeinput {margin-top: 5px}
.button.anthracite-gradient.savecancle,.tabsystem {margin-top: 0}
.SaveReset .button.anthracite-gradient.buttonmrg {margin: 0 5px 0;}
 .addinput label {
	display: block;
}
.addinput .input.full-width {
	display: inline-block;
	width: 80%;
}
.columns.selcol {float: none;max-width: 100%;margin:0 0 0 -2.25%;}
.SearchBtn {text-align: right;padding: 0 0 17px;clear: both;}
.start-sale ul li {margin: 0 0 15px;float: none;width: 100%;}}
@media screen and (max-width:479px) {
.hotelmap .wizard-steps > .active, .Adv-width .wizard-steps > .active {text-indent: -9999px;}

}


.YellowTD {background: #f9ca83;text-align: center;}
.OrangeTD {background: #ff8e8e;text-align: center;}
.GreenTD{background: #bff3bf;;text-align: center;}
.AddTxt {
	display: block;
	font-weight: bold;
}
.table > tbody > tr > td.YellowTD,.table > tbody > tr > td.OrangeTD,.table > tbody > tr > td.GreenTD {
	position: relative;
	transform: scale(1); transition:.5s all ease-in-out; cursor:pointer
}
.table > tbody > tr > td.YellowTD:hover,.table > tbody > tr > td.OrangeTD:hover,.table > tbody > tr > td.GreenTD:hover {
	position: relative;
	transform: scale(1.3); transition:.5s all ease-in-out; border:2px solid #fff
}
.colorTable .checkbox, .radio {
	display: block;
	margin: 10px !important;
}

.row-drop > td.YellowTD {background: #f9ca83 !important;text-align: center;}
.row-drop > td.OrangeTD {background: #ff8e8e !important;text-align: center;}
.row-drop > td.GreenTD{background: #bff3bf!important;text-align: center;}

/*.row-drop > td.available{background: #bfff41 !important; text-align:center;color:black; font-size:11px; padding: 5px;}
.row-drop > td.lowavl {background: #f9ca83 !important;text-align: center;color:white; font-size:11px; padding: 5px;}
.row-drop > td.sold {background: #ff0000 !important;text-align: center; color:white; font-size:11px; padding: 5px; }*/

.available{background: #bfff41 !important; text-align:center;color:black; font-size:11px; padding: 5px!important;}
.lowavl {background: #f9ca83 !important;text-align: center;color:white; font-size:11px; padding: 5px;}
.sold {background: #ff0000 !important;text-align: center; color:white; font-size:11px; padding: 5px!important; }

.roomtype {
    display: inline-block !important;
}

.avl-checkbox{
    margin:5px auto !important;
}
.table  tr.tdcolor  td.YellowTD,.table tr.tdcolor   td.OrangeTD,.table tr.tdcolor   td.GreenTD {
	position: relative;
	transform: scale(1); transition:.5s all ease-in-out; cursor:pointer
}
.table td.OrangeTD:hover,.table td.YellowTD:hover,.table td.GreenTD:hover{
 
	position: relative;
	transform: scale(1.3); transition:.5s all ease-in-out; 
}
.colorTable .checkbox, .radio {
	display: block;
	margin: 10px auto;
}

 
.table.colorTable > tbody > tr > th {cursor:pointer}
.AddTxt {
	display: block;
	font-weight: bold;
	text-align: center;  
	margin: 0 auto;
	display: block;   
	line-height: 16px; 
	padding:5px 5px;  
	text-align: center;
	background: url(../img/old-browsers/grey20.png);
	background: rgba(128, 128, 128, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
	 box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);  
	 -webkit-border-radius: 9px;  
  -moz-border-radius: 9px; 
	border-radius: 9px;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none;
	
}

.vertical-align-middle {
    vertical-align: middle;
}

.vertical-align-central {
    vertical-align: central;
}

.vertical-align-top {
    vertical-align:top;
}

.vertical-align-bottom {
    vertical-align: bottom;
}

.pointer {
    cursor:pointer;
}
@media screen and (max-width:479px) {
    .tariff-tab {
        margin-left: 0px !important;
    }
    .tariff-textbox {
        float:right;
    }
    .tariff-tab-columns {
        width: 97.75%;
    }
    .field-drop-tariff {
        padding: 5px;
        background: #e3e5ea;
    }
    .field-drop-input-days {
        width: 15px;
    }
    .field-drop-input {
        width: 50px;
    }
    
}
@media screen and (min-width:479px) {
    .tariff-tab {
        margin-left: -210px !important;
    }
    .tariff-tab-columns {
        width: 20%;
    }
    .field-drop-tariff {
        padding: 20px;
        background: #e3e5ea;
    }
    .field-drop-input-days{
        width:30px;
    }
    .field-drop-input{
        width:60px;
    }
    .offercard {
        min-height: 250px;
        line-height:18px;
    }   
}


/* Cards */
.card-group {
    list-style-type: none;
    margin-left: 0px;
    -webkit-box-shadow: 0 1px 3px black;
    -moz-box-shadow: 0 1px 3px black;
    box-shadow: 0 1px 3px black;    
}
.card-header {
    min-height: 100px;
    line-height: 20px;
}

.card-content {
    min-height: 100px;
}
    .card-group > li > .card-header, .card-content {
        float: left;
        position: relative;
        width: 250px;
        text-align: center;
        padding: 20px;
        margin: 10px 20px 10px 20px;
    }

        .card-group > li > a {
            display: block;
            width: 10em;
            height: 10em;
            line-height: 10em;
        }

            .card-group > li > img,
            .card-group > li > .stack > img,
            .card-group > li > a > img,
            .card-group > li > a > .stack > img {
                margin: 0;
                vertical-align: middle;
                max-width: 8em;
                max-height: 8em;
            }

        .card-group > li > .controls {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 10em;
            height: 10em;
            line-height: 10em;
            background: url(../../img/old-browsers/black45.png);
            background: rgba(0, 0, 0, 0.45);
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            -khtml-opacity: 0;
            -moz-opacity: 0;
            opacity: 0;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-transition: opacity 200ms;
            -moz-transition: opacity 200ms;
            -ms-transition: opacity 200ms;
            -o-transition: opacity 200ms;
            transition: opacity 200ms;
        }

        .card-group > li:hover > .controls {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: alpha(opacity=100);
            -khtml-opacity: 1;
            -moz-opacity: 1;
            opacity: 1;
        }

        .card-group > li > .controls > * {
            font-size: 13px;
        }

.touch .card-group > li > .controls {
    top: auto;
    bottom: 75%;
    height: auto;
    padding: 4px 0;
    line-height: 30px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

    .touch .card-group > li > .controls:after {
        display: block;
        position: absolute;
        content: '';
        left: 50%;
        top: 100%;
        width: 0;
        height: 0;
        border: 4px solid transparent;
        margin-left: -4px;
        border-top-color: rgba(0, 0, 0, 0.45);
    }

    /* Availability & Pricing Grid*/
    .avl-column,
	.avl-column-tablet,
	.avl-column-mobile,
	.avl-column-mobile-landscape,
	.avl-column-mobile-portrait { 
        width: 5.5%;
        margin: 0 0 10px 10px !important;
        min-height:50px;
        line-height:50px;
        padding:5px;
        border: .5px solid grey;
        text-align: center;
    }
    .avl-roomname,
	.avl-roomname-tablet,
	.avl-roomname-mobile,
	.avl-roomname-mobile-landscape,
	.avl-roomname-mobile-portrait { 
        width: 20%;
        margin: 0 0 10px 2.25% !important;
        font-weight: bold;
        min-height:50px;
        line-height:50px;
        padding: 5px;
        border: .5px solid grey;

    }
.room-available {
    background-color: yellowgreen;
    color: white;
    font-size: 11px;
    padding: 0px !important;
}

.room-not-available {
    background-color: #b30000;
    color: white;
    font-size:11px;
    padding:0px !important;
}
   .padding10x10x10x0 {
       padding: 10px 10px 10px 0;
   }
   .padding0x10x10x0 {
       padding: 0 10px 10px 0;
   }
.hline1 {
    display: block;
    height: 1px;
    border: 0;
    border-top: .5px solid #ccc;
    margin: 5px 0;
    padding: 0;
}

.selected-inclusion {
    line-height: 1.6;
    font-size: 12px;
    margin-bottom: 0;
}

/*Gallery Cards*/
.md-card {
    background: #fff;
    position: relative;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    border: none;
}

    .md-card + .md-card, .md-card + .uk-grid, .uk-grid + .md-card {
        margin-top: 25px
    }

    .md-card .full_width_in_card {
        padding: 16px 24px;
        background: rgba(0,0,0,.085)
    }

.md-card.md-card-overlay-active .md-card-overlay-content {
    top: -1px;
    margin-top: 0
}

.md-card.md-card-hover {
    -webkit-transition: all 280ms cubic-bezier(.4,0,.2,1);
    transition: all 280ms cubic-bezier(.4,0,.2,1);
    will-change: box-shadow
}

    .md-card.md-card-hover:hover {
        -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
        box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23)
    }

.uk-sortable-dragged .md-card {
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
    box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23)
}

    .uk-sortable-dragged .md-card canvas {
        margin: 0 auto;
        display: block
    }

.md-card .heading_list {
    padding: 0
}

.md-card-danger, .md-card-primary, .md-card-success, .md-card-warning {
    border-left: 4px solid transparent
}

.md-card-primary {
    border-left-color: #2196f3
}

.md-card-success {
    border-left-color: #7cb342
}

.md-card-danger {
    border-left-color: #e53935
}

.md-card-warning {
    border-left-color: #ffa000
}

.md-card-horizontal {
    position: relative;
    min-height: 200px
}

    .md-card-horizontal:after, .md-card-horizontal:before {
        content: " ";
        display: table
    }

    .md-card-horizontal:after {
        clear: both
    }

    .md-card-horizontal:after, .md-card-horizontal:before {
        content: " ";
        display: table
    }

    .md-card-horizontal:after {
        clear: both
    }

.md-card-horizontal-grid {
    min-height: auto;
}

.md-card-horizontal .md-card-head {
    border-right: 1px solid rgba(0,0,0,.12);
    border-bottom: none;
    width: 200px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0
}

@media only screen and (max-width:767px) {
    .md-card-horizontal .md-card-head {
        width: 140px
    }
}

.md-card-horizontal .md-card-head-grid {
    border-right: 1px solid rgba(0,0,0,.12)
}

.md-card-horizontal .md-card-head-menu {
    right: auto;
    left: 8px
}

.md-card-horizontal .md-card-content {
    margin-left: 200px
}

@media only screen and (max-width:767px) {
    .md-card-horizontal .md-card-content {
        margin-left: 140px
    }
}

.md-card-horizontal .md-card-content-grid {
    padding: 16px
}

.gallery_grid {
    position: relative;
    margin-left: -16px;
    height: 186.76px;
}
.gallery_grid_item {
    padding: 0 !important
}

    .gallery_grid_item, .gallery_grid_item:focus, .gallery_grid_item:hover {
        color: #212121
    }

        .gallery_grid_item img, .gallery_grid_item > a {
            display: block
        }

.gallery_grid_image_caption {
    padding: 8px 16px;
    display: block;
    position: relative;
    z-index: 10;
    background-color: #fff
}

    .gallery_grid_image_caption .gallery_image_title {
        font: 500 14px/20px Roboto,sans-serif;
        margin: 0
    }

.gallery_grid_image_menu {
    position: relative;
    float: right;
    margin: 4px 0 0 8px
}

act-image-card {
    position: absolute;
    box-sizing: border-box;
    padding-left: 16px;
    padding-bottom: 16px;
    top: 0px;
    opacity: 1;
    left: 0px;
}

@media (min-width: 960px) {
    uk-grid-width-large-1-5 {
        width: 20% !important;
    }
}
@media (min-width: 768px) {
    uk-grid-width-large-1-5 {
        width: 20% !important;
    }
}
